
{% extends "base.html" %}


{% load crispy_forms_tags %}

{% block title %}Create an account{% endblock %}



{% block content %}


<div class="container">
<div class="row">
<div class="col-md-6 offset-md-3">
    <form action="." method="POST" enctype="multipart/form-data">
      <h1>Create an account</h1>

  <p>Please, sign up using the following form:</p>

  <form action="." method="post">

    {{ user_form|crispy}}

    {% csrf_token %}

    <p><input class="btn btn-primary" type="submit" value="Create my account"></p>
    </div>
    </div>
    </div>


{% endblock %}