
  /*--------Contact------------*/
  h1
  {
      text-align: center;
      color: black;
      padding-bottom: 10px;
      /*border-bottom: 2px solid blue; */
  }
  #contact
  {
      background: #efefef;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #777;
  }
  .contact-form
  {
      padding: 15px;
  }
  .form-control1
  {
      border-radius: 0 !important;
      border: none !important;
  }
  ::placeholder
  {
      color: #999 !important;
  }
  .follow
  {
      background: #fff;
      padding: 10px;
      margin: 15px;
  }
  .contact-info .fa 
  {
      margin: 10px;
      color: #007bff;
      font-weight: bold;
  }
  